body {
    background-color: #70CF51;
    font-family: 'Press Start 2P', cursive;
    color:white;
    font-size:22px;
    overflow:hidden;
    margin:0px; padding:0px;
}

game * {
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
}


unicorn {
    background-image: url(../img/horsewhite.png);
    width:500px; height: 500px;
    background-size:contain;
}
.player2 {
    background-image: url(../img/horsegreen.png);
    width:500px; height: 500px;
    background-size:contain;
}

frog {
    background-image: url(../img/froggi.png);
    width:500px; height: 400px;
    cursor: pointer;
}

.talk {
    background-image: url(../img/jumpsalot.gif);
    
}
.run{
    background-image: url(../img/white.gif);
}
.run2{
    background-image: url(../img/green.gif);
}

.leftup{
    background-image: url(../img/left_up.png);
    width:180px; height: 180px;
}
.up{
    background-image: url(../img/up.png);
    width:180px; height: 180px;

}
.rightup{
    background-image: url(../img/right_up.png);
    width:180px; height: 180px;

}
.leftdown{
    background-image: url(../img/left_down.png);
    width:180px; height: 180px;

}
.down{
    background-image: url(../img/down.png);
    width:180px; height: 180px;

}
.rightdown{
    background-image: url(../img/right_down.png);
    width:180px; height: 180px;
}

.gamebg {
    background-image: url(../img/RainbowForest.jpg);
    width:100%; height: 100%;
    background-size: cover;
}

score {
    margin:15px;
    color: blue;
    font-size: 50px;
}
score:nth-of-type(2) {
    right: 15px;
    color: blue;
    font-size: 50px;
}
.tutorial {
    background-image: url(../img/SkyClouds.jpg);
    width:100%; height: 100%;
    background-size: cover;
}
.tutbut{
    display: flex;
    justify-content: center;
}
.tuttext{
    display: flex;
    justify-content: center;
    font-size:  7em;
    color: white;
    -webkit-text-stroke: plum 7px;
    text-shadow: 10px 10px black;
    text-align: center;  
}
.tutbutfrog{
    margin-top: 300px;
}
.linkje{
    
    font-size: 5em;
    color:plum;
    text-shadow: 7px 5px lightblue;
    height: 200px;
    width: 500px;
    background: rgb(244,208,243);
    background: -moz-linear-gradient(94deg, rgba(244,208,243,1) 0%, rgba(212,235,237,1) 67%);
    background: -webkit-linear-gradient(94deg, rgba(244,208,243,1) 0%, rgba(212,235,237,1) 67%);
    background: linear-gradient(94deg, rgba(244,208,243,1) 0%, rgba(212,235,237,1) 67%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4d0f3",endColorstr="#d4ebed",GradientType=1);
    border-color: white;
    border-radius: 20px;
    border-width: 10px;
    border-style: outset;
    text-align: center;
}

.credits {
    background-image: url(../img/SkyClouds.jpg);
    width:100%; height: 100%;
    background-size: cover;
}

.creditstitle{
    display: flex;
    justify-content: center;
    font-size:  100px;
    color: white;
    -webkit-text-stroke: plum 5px;
    text-shadow: 10px 10px black;
    text-align: center;
    padding: -500px;
    margin-top:-500px;
}

.created{
    display: flex;
    justify-content: center;
    font-size:  50px;
    color: white;
    -webkit-text-stroke: plum 3px;
    text-shadow: 5px 5px black;
    text-align: center;
    padding: -500px;
    margin-top: -50px;
}


.backtohome {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color:plum;
    text-shadow: 7px 5px lightblue;
    height: auto;
    width: 400px;
    background: rgb(244,208,243);
    background: -moz-linear-gradient(94deg, rgba(244,208,243,1) 0%, rgba(212,235,237,1) 67%);
    background: -webkit-linear-gradient(94deg, rgba(244,208,243,1) 0%, rgba(212,235,237,1) 67%);
    background: linear-gradient(94deg, rgba(244,208,243,1) 0%, rgba(212,235,237,1) 67%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4d0f3",endColorstr="#d4ebed",GradientType=1);
    border-color: white;
    border-radius: 20px;
    border-width: 10px;
    border-style: outset;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin:20px;
    margin-top: 40px;
    margin-left: 555px;
}

.creditstext{
    display: flex;
    justify-content: center;
    font-size:  30px;
    color: white;
    -webkit-text-stroke: plum 1.5px;
    text-shadow: 2px 2px black;
    text-align: center;
    padding: -500px; 
    margin-top:-40px;
}

.sound{
    display: flex;
    justify-content: center;
    font-size:  50px;
    color: white;
    -webkit-text-stroke: plum 3px;
    text-shadow: 5px 5px black;
    text-align: center;
    padding: -500px;
    margin-top: -10px;
}

.soundtext{
    display: flex;
    justify-content: center;
    font-size:  30px;
    color: white;
    -webkit-text-stroke: plum 1.5px;
    text-shadow: 2px 2px black;
    text-align: center;
    padding: -500px; 
    margin-top:-60px;
}

.horsewhite {
    height:200px;
    width:250px;
    margin-left: 130px;
}

.horseblack {
    height:200px;
    width:250px;
    margin-left: 740px;
    margin-top: 300px;
    transform: scaleX(-1);
}